### ----------------- ###
### File/Folder Types ###
### ----------------- ###

**/jobs/
**/*.vcf.info
**/*.vcf.gz*
**/*.ipynb_checkpoints
**/*.DS_Store
*/.DS_Store
**/~*
**/*.phy
**/*.pos
**/*.geno*
**/*.csv.gz
**/*.frq.gz
**/*.hwe.gz
**/*.trees
**/*.log
**/*.weir.fst
**/*.out


### ------- ###
### Folders ###
### ------- ###

Admixture/input/
ancestral_alleles/allelePolarised_chrom/
flower_photos/

genome_scans/alleleFreqs/
genome_scans/_figures/
genome_scans/hardy/
genome_scans/sitePi/

recRate/
recRate_bySnps/

relate/estimateSelection/
relate/newickTrees/
relate/treeViews/

singer/input/
singer/runs/

### ------------------------ ###
### Specific subfolder/files ###
### ------------------------ ###

ancestral_alleles/**/*.pos

relate/Chr?
relate/**/*.gz

statphase/AvePla_*/

Stitch/Chr?

tsinfer/sampleData/
tsinfer/infer+analysis/
tsinfer/newickTreeList/

twisst/_figures/twisst_relate*
twisst/**/*.tsv*
twisst/trees_*/

