### ----------------- ###
### File/Folder Types ###
### ----------------- ###

**/jobs/
**/*.vcf.info
**/*.vcf.gz*
**/*.ipynb_checkpoints
**/*.DS_Store
*/.DS_Store
**/~*
**/*.phy
**/*.pos
**/*.geno*
**/*.csv.gz
**/*.frq.gz
**/*.hwe.gz
**/*.trees
**/*.log
**/*.weir.fst


### ------- ###
### Folders ###
### ------- ###

Admixture/input/
ancestral_alleles/allelePolarised_chrom/
flower_photos/
genome_scans/alleleFreqs/
genome_scans/_figures/

recRate/
recRate_bySnps/
relate/estimateSelection/


### ------------------------ ###
### Specific subfolder/files ###
### ------------------------ ###

ancestral_alleles/**/*.pos

relate/Chr?
relate/**/*.gz

statphase/AvePla_*/

Stitch/Chr?

tsinfer/sampleData/

twisst/_figures/twisst_relate*
twisst/**/*.tsv*
twisst/trees_*/

